/* Website template by freewebsitetemplates.com */
body {
    min-height: 2000px;
    padding-top: 70px;
/*    background-color: #620001;*/
    background: #9B0810 url(../images/page.png) scroll;
}

@media (max-width: 767px)  {
    .header-logo{
        width: 300px;
    }
    .load{
        width: 100%;
    }
}

/* Custom container */

.navbar-default{
    background: -moz-linear-gradient(top, rgba(98,0,1,1) 0%, rgba(122,24,2,1) 50%, rgba(88,1,2,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(98,0,1,1) 0%,rgba(122,24,2,1) 50%,rgba(88,1,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(98,0,1,1) 0%,rgba(122,24,2,1) 50%,rgba(88,1,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#620001', endColorstr='#580102',GradientType=0 ); /* IE6-9 */
border-color: #7A1802;
}

.navbar-default .navbar-brand{
/*    color: #FFFF00;*/
    color: #FFF;
}
.navbar-default .navbar-brand:hover{
    color: #FFFF00;
}
.navbar-nav li{
/*    background-color: #880002;*/
    
}
.navbar-default .navbar-nav > li > a{
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #FBF533;
}
.navbar-default .navbar-nav > .active > a{
/*    background-color: #FBF533;
    color: #620001;*/
    color: #FFF;
/*    background-color: #880002;*/
background: #9B0810 url(../images/page.png) scroll;
    border-radius: 5px;
}
.navbar-default .navbar-nav > .active > a:hover{
    color: #FBF533;
    background-color: #880002;
}
.jumbotron{
    background-color: #500001;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.jumbotron h2,h3{
    color: #FFF;    
}

.box-left .box-left-header{
    background:  url(../images/bg_title_tb_R.png) no-repeat;
    color: #FFF;
    padding-left: 20px;
    position: absolute;
}
.box-left .box-left-content{
    border: 1px solid #5a0203;
    border-radius: 0 3px 3px;
    padding: 2px;
    background: #430101;
    margin-top: 10px;
    padding-top: 20px;
}

.box-main-header{
    border-bottom: 1px solid #ED0C18;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 1px;
    margin-bottom: 5px;
}

.box-main-header-title {
    color: #FDE196;
    margin: 5px 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    
}
.box-main-header-title-icon:before {
    content: url(../images/postheadericon.png);
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}
.box-main-content{
    border: 1px solid #ED0C18;
    margin-bottom: 20px;
}
.box-main{
    
}


.box{
    border : 2px solid #ED0C18;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
/*    background-color: #620001;*/
/*    background-color: #FFF;*/
    
    
}
.box-header{
    border-color: #7A1802;
    padding: 5px;
    padding-left: 10px;
    text-transform: uppercase;
/*    border: 1px solid #7A1802;*/
    /*    background-color: #500001;*/
    color: #000;
/*    text-shadow: 1px 1px #FDF2BE;*/
    font-weight: bold;
    font-size: 12px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8ffe8+0,fab905+50,fab905+50,fab905+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fab905+0,f9c32c+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9c943+0,fab905+50,f9c943+100 */
background: rgb(249,201,67); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,201,67,1) 0%, rgba(250,185,5,1) 50%, rgba(249,201,67,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(249,201,67,1) 0%,rgba(250,185,5,1) 50%,rgba(249,201,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(249,201,67,1) 0%,rgba(250,185,5,1) 50%,rgba(249,201,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c943', endColorstr='#f9c943',GradientType=0 ); /* IE6-9 */


}
.box-content{
    padding: 5px;
    text-align: center;
}

.header-image{
        position: absolute;
        right: -45px;
        top: -5px;
        z-index: 2;
    }

#main_1 {
    float: right;
    background-color: #fdf6ea;

    width: 940px;
    margin: 0 24px 0 12px;
    padding: 12px 12px 22px;
}
#main_1 div.body {
    padding: 0 30px;
}

.cantho table td{
    padding: 2px 5px 2px 5px;
}
.cantho table th{
    padding: 5px 5px 5px 5px;
    text-transform: uppercase;
}

.media .media-object{
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.giavang-maiquyen table{
    float: left;
    margin-right: 20px;
}

.giangoaite-maiquyen table{
    float: left;
    margin-right: 20px;
}
.giavang-maiquyen table tr{	                
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
.giavang-maiquyen table td{	                
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-weight: bold;
}
.giavang-maiquyen table th{	                
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #dddddd;
    background-color: #B80000;
}

.giaphuthinh table tr{	                
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
.giaphuthinh table td{	                
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-weight: bold;
}
.giaphuthinh table th{	                
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #dddddd;
    background-color: #B80000;
}
.giamq75 table th{
    background-color: #536DFE;
    color: #FFFFFF;
}

.giamq75 table td{
    font-weight: bold;
}
.td_ngoaite_menhgia{
    text-align: right;
    padding-right: 20px;
}

.table_gia{
    border: 2px solid #000;
    border-collapse: collapse;
    padding: 2px;
    /*         width: 380px;    */
}


.table_gia td{
    border: 1px solid #000;
    padding: 5px;
    font-weight: bold;
    color: #F00;
    font-size: 19px;
}
.table_gia th{
    border: 1px solid #000;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #00f;
    font-family: Arial; text-align: center;
}

.title1{
    color: #00F;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.title2{
    color: #F00;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.border1{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 5px #f00 solid;
    padding: 10px;
}
.banggiavang{
    border: 1px #f00 solid;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.content1{
    color:#026702;
    text-align: center;
}

.vang18k{
    border-top: 1px #F00 dashed;
}


.bg_nav{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffe207+57 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffe207 57%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffe207 57%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffe207 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffe207',GradientType=0 ); /* IE6-9 */
}
.bg_nav .brand{
    color:#C80101;

}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #C80101  ;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
    background-color: #C80101;
}
.navbar-inverse .nav > li > a:hover {
    color: #ffffff;
    background-color: #C93F3F;

}
.hero-unit{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffe207+57 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffe207 57%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffe207 57%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffe207 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffe207',GradientType=0 ); /* IE6-9 */

    padding: 25px;
    margin-bottom: 1px;

}
.footer{
    color: #B40404;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe207+30,ffffff+100 */
   background: rgb(249,201,67); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,201,67,1) 0%, rgba(250,185,5,1) 50%, rgba(249,201,67,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(249,201,67,1) 0%,rgba(250,185,5,1) 50%,rgba(249,201,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(249,201,67,1) 0%,rgba(250,185,5,1) 50%,rgba(249,201,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c943', endColorstr='#f9c943',GradientType=0 ); /* IE6-9 */

    border-radius: 6px;
    padding: 25px;
}

.ads{
    padding-top: 10px;
}
footer {

}


.block-stat ul li {
    padding: 4px 0 4px 26px;

}




li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.block-stat ul {
    list-style-type: none;
    margin: 0;
}


.footer_left{
    
   
}
.footer_left dt{
    margin-bottom: 8px;
}
.footer_right{
    
}




/*  bảng giá vàng cà mau*/

.banggiacamau_right{
    float: left;

    /*        border: 1px solid #000;*/
    width: 190px;
    height: 402px;
    margin-left: 20px;
    margin-top: 45px;
}

.banggiacamau_left{
    text-align: center;
    padding: 15px;
    border: 3px solid #F00;
    border-radius: 6px;
}
.table-bang-gia-ca-mau.table th{
    text-align: center;
    color: #00F;
}

td.loai_vang{
    color: #f00;
    font-weight: bold;
    text-align: center;
}
.table-bang-gia-ca-mau td{
    color: #f00;
    font-weight: bold;
    text-align: center;
    font-size: 16px;

}
.table-bang-gia-ca-mau.table-bordered{
    border: 2px solid #F00;
    border-radius: 6px;
}

.ads_1{
    border: 1px solid #f00;
    width: 180px;
    height: 200px;
    font-size: 18px;
    text-align: center;
    color: #ddd;
    float: left;
}

/*  bảng giá vàng cà mau----------------------------------------*/



/* Bảng giá vàng ngoại tệ */
table.load td{padding:5px;border:1px solid #aaa;text-align: left;}
.bogoc{border-bottom:rgb(255,0,0) 4px solid;border-left:rgb(255,0,0) 4px solid;
       padding-bottom:0;margin:0 auto;outline-style:none;outline-color:invert;padding-left:0;outline-width:medium;
       width:485px;padding-right:0;border-top:rgb(255,0,0) 4px solid;
       border-right:rgb(255,0,0) 4px solid;padding-top:0;border-top-left-radius:15px;
       border-top-right-radius:15px;border-bottom-left-radius:15px;border-bottom-right-radius:15px;
       margin-left: 10px;}
.fonthead{font-weight:bold;color:rgb(0,0,205)}
.fontred{font-weight:bold;color:rgb(255,0,0)}
.fontgreen{font-weight:bold;color:rgb(0,128,0)}
.fontxanhla{font-weight:bold;color:#1F6400}
.bogoc h2{text-align:center;color:rgb(255,0,0);font-weight:bold;margin-bottom:10px}
.k18{background:#4747CD;font-weight:bold;color:#fff}.hidden{display:none}
#waiting{
        color: #FDE196;
    }
    .fontheader{
        text-align: center;
        color: #FFF;
        background-color: #333;
        font-weight: bold;
        font-size: 14px;
    }

/* Bảng giá vàng ngoại tệ ----------------- */

/*Bảng giá vàng thế giới */

.gia-the-gioi-title{
        /*border: 2px solid #FAB905;*/
               

        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        
        border-left: 2px solid #ED0C18;
                border-right:  2px solid #ED0C18;

                        border-top: 2px solid #ED0C18;
        
    }
    .gia-the-gioi{
        /*margin:10px 10px 0px 10px;*/
    }
    .gia-the-gioi2{
        /*margin:0px 10px 0px 10px;*/
    }
    
    .gia-the-gioi-title-ban{
        padding-left: 10px;
        color:#0040FF;
    }
    .gia-the-gioi-title-mua{
        text-align: right;
        padding-right: 10px;
        color: #0040FF;
    }
    
    .gia-the-gioi-gia{
        border: 2px solid #ED0C18;


        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #0B3B39;
        font-size: 28px;
        
    }
    .gia-the-gioi-gia-ban{
        padding-left: 10px;
    }
    .gia-the-gioi-gia-mua{
        text-align: right;
        padding-right: 10px;
        
    }
    #spread_val{
        text-align: center;
        color: #61210B;
        font-size: 28px;
        font-weight: bold;
    }
/*Bảng giá vàng thế giới ------------------------------- */

.title-bang-gia{
    font-size: 20px;
    font-weight: bold;
    color: #F00; 
    margin-bottom: 5px;
}
.ads-main{
    margin-bottom: 3px;
}

    .block-stat ul li.online {

                background: url("../img/online/online.png") 0 50% no-repeat;
            }
            .block-stat ul li.guest {
                background: url("../img/online/guest.png") 0 50% no-repeat;
            }
            .block-stat ul li.user {
                background: url("../img/online/user.png") 0 50% no-repeat;
            }
            .block-stat ul li.today {
                background: url("../img/online/time.png") 0 50% no-repeat;
            }
            .block-stat ul li.month {
                background: url("../img/online/month.png") 0 50% no-repeat;
            }
            .block-stat ul li.statistics {
                background: url("../img/online/statistics.png") 0 50% no-repeat;
            }